<div id="<%= dom_id segment %>">
  <p>
    <strong>Filename:</strong>
    <%= segment.filename %>
  </p>

  <p>
    <strong>Channel:</strong>
    <%= segment.channel %>
  </p>

  <p>
    <strong>Beg:</strong>
    <%= segment.beg %>
  </p>

  <p>
    <strong>End:</strong>
    <%= segment.end %>
  </p>

  <p>
    <strong>Turn:</strong>
    <%= segment.turn %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= segment.text %>
  </p>

</div>
