<!DOCTYPE html>
<html>
<head>
  <title>Switchboard engine</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <% if Rails.env.development? %>
    <%= vite_client_tag %>
  <% end %>
  <%= vite_javascript_tag 'switchboard_engine_application' %>
  <%= yield :head %>

  <%= stylesheet_link_tag    "switchboard_engine/application", media: "all" %>
</head>
<body>

<%= yield %>

</body>
</html>
