<div id="<%= dom_id speaker %>">
  <p>
    <strong>Filename:</strong>
    <%= speaker.filename %>
  </p>

  <p>
    <strong>Channel:</strong>
    <%= speaker.channel %>
  </p>

  <p>
    <strong>Sex:</strong>
    <%= speaker.sex %>
  </p>

  <p>
    <strong>Birth year:</strong>
    <%= speaker.birth_year %>
  </p>

  <p>
    <strong>Dialect area:</strong>
    <%= speaker.dialect_area %>
  </p>

  <p>
    <strong>Education:</strong>
    <%= speaker.education %>
  </p>

  <p>
    <strong>Topic description:</strong>
    <%= speaker.topic_description %>
  </p>

</div>
